@model IEnumerable<DotNetBcBackend.Models.Sponsor>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Sponname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sponimg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sponlink)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sponname)
            </td>
            <td><img src="@Html.DisplayFor(modelItem => item.Sponimg)" width="75" />
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.Sponlink)">@Html.DisplayFor(modelItem => item.Sponlink)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Sponid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Sponid">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
